<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check secret-key</title>
    <link rel="stylesheet" href="/static/style.css">
    <style>
        h1 {
            padding-top: 20px;
            color: #64ee48;
        }
    </style>
</head>
<body>
    <h1>Secret-key</h1>
    <form action="/check_secret_key" method="post">
        <div>
            <label for="password">Key:</label>
            <input type="password" id="password" name="key">
        </div>
        <div>
            <button type="submit">Enter</button>
        </div>
    </form>
    {{if .}}
        <h2>{{.}}</h2>
    {{end}}
</body>
</html>